body { 
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

/* -----------------header---------------*/
.logo-link-header,
.navigation-link {
    text-decoration: none;
    color: #212121;
}


.navigation-link:hover {
    color:#2196F3;
}

/*----------------------main-----------------*/
.title-item {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    color: #FFFFFF;
}

.about-head {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
}

.about-head-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: #757575;
}

.portfolio-btn {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
}

.title-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: #FFFFFF;
    background-color: #2196F3;;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
color: #FFFFFF;
background-color: #2196F3;
}

.work,
.staff {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
}

.staff-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
}

.staff-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    color: #757575;
}

.photo-head {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.photo-describe {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    color: #757575;
}

/*--------------------background--------------*/
footer,
.title {
    background-color: #2F303A;;
}

/*---------------------footer---------------------*/


.logo-link-footer,
.logo,
.contact {
    text-decoration: none;
}

.logo-link-footer { 
    color:#FFFFFF;
}

.logo {
    color:#2196F3;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
}

.street {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.714;
}
.contact {
    color:#757575;
    font-size: 14px;
    line-height: 2;
}

.contact:hover {
    color:#2196F3;
}

.button {
    cursor: pointer;
}
